<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>Solidfire-sdk-java by solidfire</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="stylesheets/normalize.css" media="screen">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/github-light.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/syntax.css" media="screen">
    <link rel="shortcut icon" type="image/png" href="https://raw.githubusercontent.com/solidfire/solidfire-sdk-python/gh-pages/_static/favicon.ico"/>
  </head>
  <body>
    <section class="page-header">
      <h1 class="project-name">SolidFire Python SDK</h1>
      <h1 class="project-name"><img src="https://raw.githubusercontent.com/solidfire/solidfire-sdk-python/gh-pages/_static/PythonSDK.png" style="width: 160px;height: 160px;border:none;" alt="SolidFire Python SDK Logo"></h1>

      <h2 class="project-tagline">SolidFire Management API</h2>
      <a href="https://github.com/solidfire/solidfire-sdk-python" class="btn">View on GitHub</a>
      <a href="https://github.com/solidfire/solidfire-sdk-python/releases/download/v1.1.0.92/solidfire-sdk-python-1.1.0.92.tar.gz" class="btn">Download Latest tar.gz</a>
      <a href="https://pypi.python.org/pypi/solidfire-sdk-python" class="btn">PyPI</a>
      <a href="https://pythonhosted.org/solidfire-sdk-python/" class="btn">Latest Docs</a>
      <a href="http://www.solidfire.com/" class="btn">SolidFire.com</a>
    </section>

    <section class="main-content">
      {{content}}
      <footer class="site-footer">
        <span class="site-footer-owner"><a href="https://github.com/solidfire/solidfire-sdk-python">solidfire-sdk-python</a> is maintained by <a href="https://github.com/solidfire">SolidFire</a> now a part of <a href="https://github.com/netapp">NetApp, Inc</a>.</span>
      </footer>
    </section>
  </body>
</html>

